
.Weather{
  border-radius: 4px;
  border: 1px solid #d8698c;
  padding: 35px;
  margin:30px auto;
  font-family: Arial, Helvetica, sans-serif;
}

 .Weather h1{
  color:#e19cb2;
  margin:20px 0 0 0;
  font-size: 48px;
  font-weight: 200;
  line-height: 79px;
 }
 .Weather ul{
  padding:0;
  margin: 0;
 }

 .Weather li{
  font-size: 18px;
font-weight: 100;
line-height: 20px;
 list-style: none;
}

.Weather .temperature {
  font-weight: 400;
  color:#9c566c;
  font-size: 54px;
  line-height: 54px;
  margin-left: 10px;
 
    }

 .Float-left canvas{
       margin: 10px auto;
      float: left;
 
 }

.Weather .unit {
  font-size: 16px;
  color:#161112;
  font-weight: 400;
  position:relative;
  top:-32px;
  line-height: 1;
  
}